<div class="container_small-card">
    
    <div class="container_small-card_content">
        <div class="small-card_photo">
            <img 
                src="https://s.abcnews.com/images/GMA/greys-anatomy-tv-cast-01b-abc-llr-221004_1664912913205_hpMain_16x9_1600.jpg"
                alt="article image"
            >
        </div>
        
        <div class="small-card_title">
            <h1><a href="">Lorem ipsum dolor sit amet</a></h1>
        </div>
    </div>

    <div  class="container_small-card_separator">
        <hr/>
    </div>

</div>
