<div class="container_main-card">

    <div class="main-card_photo">
        <img 
            src="https://m.media-amazon.com/images/M/MV5BZmVmMjdkNzctNGM0OC00MmE4LTlmYTktZTMyNzVhMjQ5MjhhXkEyXkFqcGdeQXVyNTM3MDMyMDQ@._V1_.jpg"
            alt="article image"

        >
    </div>
    
    <div class="main-card_title">
        <h1><a href="">Lorem ipsum dolor sit amet</a></h1>
    </div>

    <div class="main-card_description">
        <p>Donec ex leo, dignissim id ultrices ut, pretium non purus. Nullam sollicitudin, ligula nec bibendum pellentesque, orci justo fringilla arcu, a sollicitudin enim ipsum ac lorem.</p>
    </div>
</div>