<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-main-card 
            id="1"
            photoCover="https://m.media-amazon.com/images/M/MV5BZmVmMjdkNzctNGM0OC00MmE4LTlmYTktZTMyNzVhMjQ5MjhhXkEyXkFqcGdeQXVyNTM3MDMyMDQ@._V1_.jpg"
            cardTitle="ABC renova Grey's Anatomy para 20ª temporada após saída de Ellen Pompeo"
            cardDescription="Donec ex leo, dignissim id ultrices ut, pretium non purus. Nullam sollicitudin, ligula nec bibendum pellentesque, orci justo fringilla arcu, a sollicitudin enim ipsum ac lorem."
        ></app-main-card>
    </div>
    <div class="articles_others">
        <app-small-card
            id="2"
            photoCover="https://s.abcnews.com/images/GMA/greys-anatomy-tv-cast-01b-abc-llr-221004_1664912913205_hpMain_16x9_1600.jpg"
            cardTitle="ABC revela trailer da Temporada 19"
        ></app-small-card>
        <app-small-card
            id="3"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2uNhQjfcEH_db4Hhgi2ljtN5YUIAof_1MsA&usqp=CAU"
            cardTitle="30 curiosidades que você talvez não soubesse sobre a série"
        ></app-small-card>
        <app-small-card
            id="4"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV4KXo_dxC-ALeX7epVNBHvQpGYDG2fxUePXWApwpaan99mgyQWowpGrUpF5F7rkCjPcA&usqp=CAU"
            cardTitle="Os 10 melhores personagens da série"
        ></app-small-card>
    </div>
</div>